<!DOCTYPE html>
<html>
<head>
    <title>Form Data Pengguna</title>
</head>
<body>
    <form action="/create/save" method="GET">
        <fieldset>
        <legend>Data Pengguna</legend>
        <table class="table">
            <thead>
              <tr>
                <th width="100px" align="left">Nama :</th>
                <td><input type="text" name="nama" placeholder="nama..." /></td>
              </tr>
              <tr>
                <th align="left">Umur :</th>
                <td><input type="text" name="umur" placeholder="umur..." /></td>
              </tr>
              <tr>
                <th align="left">Kota Tinggal :</th>
                <td><input type="text" name="kota" placeholder="kota tinggal..." /></td>
              </tr>
              <tr>
                <th align="left"><input type="submit" name="submit" value="Simpan" /></th>
            </tr>
            </thead>        
        </fieldset>
    </form>
</body>
</html>